{% extends 'index.html' %}
{% load static i18n %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>{% trans "Upload Payslip" %}</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">{% trans "Upload" %}</button>
                    <a href="{% url 'view-payslips' %}" class="btn btn-secondary btn-block">{% trans "Cancel" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}